@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h1>@mitNavn.navn</h1>

@code{
    MitNavn mitNavn = new MitNavn();
    
    
}

<SurveyPrompt Title="How is Blazor working for you?" />


